@{
    ViewData["Title"] = "Home Page";
}

<div class="position-relative">
    <div class="text-center">
    <h1 class="display-4">Welcome to CarOnline.com</h1>
    <p>Project available <a href="https://github.com/Weslley-David/Weslley-David-ifpi-ads-AnaliseEProjetoDeSistemas2022.2-Weslley-David">here</a>.</p>
    <div>
    <p><input type="text" class=".bg-transparent border-0 rounded sm" placeholder="email"></p>
    <p><input type="password" class=".bg-transparent border-0 rounded md" placeholder="password"></p>
    <p><button class="p-2 mb-5 bg-dark text-white md">Login</button></p>
    </div>
</div>
